{% extends "base.html" %} {% block head %} {{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='extended_beauty.css') }}">

<!-- need to end the block also using the ginger syn-taxing -->
{% endblock %}


{% block content %}
<div class="col-md-4 col-mid-offset-4">
    <h2>Log In</h2>
    <form method="POST" action="/login">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="email" name="email" class="form-control"
               placeholder="Enter your email"/>
        <label class="form-label" for="email">Email address</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="password" class="form-control" name="password"
               placeholder="enter your password"/>
        <label class="form-label" for="password">Password</label>
      </div>

      <div class="col d-flex justify-content-center">
        <!-- Checkbox -->
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check" name="check" checked/>
          <label class="form-check-label" for="check"> Remember me </label>
        </div>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
    </form>
</div>
{% endblock %}